.signup {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.container-signup,
.container-registered-sucessfully {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 55%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 96px;
  width: 60%;
}

h1 {
  margin-bottom: 32px;
}

.container-inputs,
.container-buttons {
  width: 100%;
}

.container-inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin-bottom: 56px;
}

.container-input-password {
  position: relative;
  width: 100%;
}

input {
  background-color: #fdfafa;
  border: 1px solid #e8e8e8;
  height: 6vh;
  padding: 16px;
  width: 100%;
}

.eye-icon {
  bottom: 8px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  width: 24px;
}

.error-message {
  align-self: flex-start;
  color: #e24242;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
}

.btn-red {
  background-color: rgba(251, 6, 21, 0.65);
}

.btn-blue {
  background-color: #2a4d77;
}
