.container-main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

form {
  align-items: center;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: min-content;
  gap: 40px;
  justify-content: space-between;
  padding: 40px 0;
  width: 350px;
}

.inputs-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 310px;
}

input,
button {
  height: 52px;
  padding: 8px;
  width: 300px;
}

img {
  bottom: 12px;
  cursor: pointer;
  position: absolute;
  right: 16px;
  width: 24px;
}

button {
  background-color: purple;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
}

button:hover {
  opacity: 0.9;
}
